# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional: include if you want to share settings)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Ignore all build artifacts EXCEPT build/web/
build/**/*
!build/web/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build folders
/android/app/debug
/android/app/profile
/android/app/release
